<div id="sidebar-wrapper">
    <img id="menuToggle" class="menu-toggle" data-toggle="showMenu"width="60px" height="60px">
    <div id="inner" class="menu-toggle">
        <h1 class="logo site-title">
            <a href="/index.html">
                <img id="hairlogo" src="/res/arjunlogoround.png"/>
            </a>
        </h1>
        <div id="sidebar" class="menu-toggle">
            <ul class="nav nav-sidebar">
                {% if page.selected-about %}
                <li class="active-link">
                {% else %}
                <li>
                {% endif %}
                    <a href="/about.html">About Me</a>
                </li>
            </ul>
            {% include /projects.html %}
            {% include /blogposts.html %}
            {% include /lessons.html %}
            {% include /howto.html %}
                <ul class="nav nav-sidebar">
                    {% if page.selected-about %}
                    <li class="active-link">
                    {% else %}
                    <li>
                    {% endif %}
                        <a href="/jerseys.html">My Jerseys</a>
                    </li>
                </ul>
        </div>
    </div>
</div>
