<div id="sidebar">
  <div id="inner">
    <h1 class="logo site-title">
      <a href="/index.html">
Arjun Shanker
      </a>
    </h1>
    <div id="sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <a href="/about.html">About Me</a>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink"  data-toggle="collapse" href="#collapseOne" >Projects</a>
        </li>
        <div id="collapseOne" class="panel-collapse collapse">
          <ul  class="nav nav-sidebar">
            <li>
              <a href="/projects/mediacomplete.html">MediaComplete</a>
            </li>
            <li>
              <a href="/projects/swym.html">Swym</a>
            </li>
          </ul>
        </div>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink" data-toggle="collapse" href="#collapseTwo">한국어 공부</a>
        </li>
        <div id="collapseTwo" class="panel-collapse collapse">
          <ul  class="nav nav-sidebar">
            <li>
              <a href="/lessons/1-en.html">제1 일과 –  영어</a>
            </li>
            <li>
              <a href="/lessons/1-kr.html">제1 일과 – 한국어</a>
            </li>
            <li>
              <a href="/lessons/2-en.html">제2 일과 – 영어</a>
            </li>
            <li>
              <a href="/lessons/2-kr.html">제2 일과 – 한국어</a>
            </li>
          </ul>
        </div>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink" data-toggle="collapse"  href="#collapseThree">How To</a>
        </li>
        <div id="collapseThree" class="panel-collapse collapse">
          <ul  class="nav nav-sidebar">
            <li>
              <a href="/how-to/jenkins.html">Jenkins</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
