<div id="sidebar-wrapper" >
  <img id="menuToggle" class="menu-toggle" data-toggle="showMenu"width="60px" height="60px">
  <div id="inner" class="menu-toggle">
    <h1 class="logo site-title">
      <a href="/index.html">
Arjun Shanker
      </a>
    </h1>
    <div id="sidebar" class="menu-toggle">
      <ul class="nav nav-sidebar">
        {% if page.selected-about %}
        <li class="active-link"><a href="/about.html">About Me</a></li>
        {% else %}
        <li><a href="/about.html">About Me</a></li>
        {% endif %}
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink"  data-toggle="collapse" href="#collapseOne" >Projects</a>
        </li>
        {% if page.selected-projects %}
        <div id="collapseOne" class="panel-collapse collapse in">
        {% else %}
        <div id="collapseOne" class="panel-collapse collapse">
        {% endif %}
          <ul  class="nav nav-sidebar">
            {% if page.selected-mediacomplete %}
            <li class="active-link"><a href="/projects/mediacomplete.html">MediaComplete</a></li>
            {% else %}
            <li><a href="/projects/mediacomplete.html">MediaComplete</a></li>
            {% endif %}
            {% if page.selected-swym %}
            <li class="active-link"><a href="/projects/swym.html">Swym</a></li>
            {% else %}
            <li><a href="/projects/swym.html">Swym</a></li>
            {% endif %}
          </ul>
        </div>
      </ul>
      {% include /blogposts.html %}
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink" data-toggle="collapse" href="#collapseTwo">한국어 공부</a>
        </li>
        {% if page.selected-study %}
        <div id="collapseTwo" class="panel-collapse collapse in">
        {% else %}
        <div id="collapseTwo" class="panel-collapse collapse">
        {% endif %}
          <ul  class="nav nav-sidebar">
            {% if page.selected-l1en %}
            <li class="active-link"><a href="/lessons/1-en.html">제1 일과 –  영어</a></li>
            {% else %}
            <li><a href="/lessons/1-en.html">제1 일과 –  영어</a></li>
            {% endif %}
            {% if page.selected-l1kr %}
            <li class="active-link"><a href="/lessons/1-kr.html">제1 일과 – 한국어</a></li>
            {% else %}
            <li><a href="/lessons/1-kr.html">제1 일과 – 한국어</a></li>
            {% endif %}
            {% if page.selected-l2en %}
            <li class="active-link"><a href="/lessons/2-en.html">제2 일과 – 영어</a></li>
            {% else %}
            <li><a href="/lessons/2-en.html">제2 일과 – 영어</a></li>
            {% endif %}
            {% if page.selected-l2kr %}
            <li class="active-link"><a href="/lessons/2-kr.html">제2 일과 – 한국어</a></li>
            {% else %}
            <li><a href="/lessons/2-kr.html">제2 일과 – 한국어</a></li>
            {% endif %}
          </ul>
        </div>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a class="notlink" data-toggle="collapse"  href="#collapseThree">How To</a>
        </li>
        {% if page.selected-howto %}
        <div id="collapseThree" class="panel-collapse collapse in">
        {% else %}
        <div id="collapseThree" class="panel-collapse collapse">
        {% endif %}
          <ul  class="nav nav-sidebar">
            {% if page.selected-jenkins %}
            <li class="active-link"><a href="/how-to/jenkins.html">Jenkins</a></li>
            {% else %}
            <li><a href="/how-to/jenkins.html">Jenkins</a></li>
            {% endif %}
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
